* text=auto eol=lf
*.dll binary
*.so binary
*.dylib binary

# Only the add-on itself is included in Asset Library downloads.
/README.md export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
